<div ng-controller="LoginCtrl">
    <div class="login-form-block">
        <form name="loginForm" class="col-md-4 col-md-offset-4 login-form">
            <div class="form-group">
                <input type="email" name="email" ng-model="loginData.email" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-model="loginData.password" placeholder="password" class="form-control">
            </div>
            <div class="form-btn">
                <a ng-href="#!/register" class="link-form">Register</a>
                <button ng-click="login()" class="btn btn-form">Login</button>
            </div>
        </form>
    </div>

</div>