<div ng-controller="RegisterCtrl">
    <div class="register-form-block">
        <form name="registerForm" class="col-md-4 col-md-offset-4 register-form">
            <div class="form-group">
                <input type="email" name="email" ng-model="email" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-model="password" placeholder="password" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password_confirmation" ng-model="password_confirmation" placeholder="confirm password"
                       class="form-control">
            </div>
            <div class="form-btn">
                <a ng-href="#!/login">Login</a>
                <button class="btn btn-form" ng-click="register()">Register</button>
            </div>
        </form>
    </div>
</div>