<h1>HOME</h1>
<!--<div ng-controller="TaskCtrl">-->
    <!--<div class="row">-->
        <!--<div class="user-info">-->
            <!--<h4 class="pull-left">Hello: {{ Auth::user()->email }}</h4>-->
            <!--<button ng-click="logout()" class="btn btn-primary">Logout</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
        <!--<form name="taskForm" class="col-md-4">-->
            <!--<div class="form-group">-->
                <!--<textarea name="text" ng-model="text" placeholder="Text" class="form-control" rows="10" autofocus></textarea>-->
            <!--</div>-->
            <!--<button ng-click="newTask()" class="btn btn-default form-control">New task</button>-->
        <!--</form>-->
        <!--<div class="col-md-8">-->
            <!--<ul>-->
                <!--<li ng-repeat="task in tasks" class="item-task">-->
                    <!--<p class="jumbotron"><span ng-bind="task.text"></span></p>-->
                    <!--<button ng-click="delete(task.id)" class="btn btn-danger btn-lg">Delete</button>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->